<header class="wrapper">
    <nav class="navbar">
        <a href="#" class="navbar__brand">
            <span class="navbar__brand--red">
                Movie
            </span>
            DataBase
        </a>
        <form class="navbar__search">
            <input class="navbar__search-field" type="search" placeholder="Search" aria-label="Search">
            <button class="navbar__search__btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </nav>
</header>